body {
  font-family: 'Century Gothic Regular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Century Gothic Bold' !important;
}

p,
button,
div,
label,
input,
a {
  font-family: 'Century Gothic Regular' !important;
}

.index-container {
  background: rgb(51, 9, 139);
  background: linear-gradient(
    205deg,
    rgba(51, 9, 139, 1) 1%,
    rgba(120, 60, 248, 1) 56%,
    rgba(215, 199, 250, 1) 100%
  );
  min-height: 100vh;
}

.Home {
  margin-top: 150px;
  /* color: #ffffff; */
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  /* max-height: 100vh; */
}

.faintText {
  color: #ffffff96 !important;
  line-height: 3rem;
}

.page-card {
  background: #ffffff;
  position: relative;
  width: 100%;
  bottom: 0;
  min-height: 70vh;
  border-radius: 5px;
  padding: 15px;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  .page-card {
    position: relative;
    bottom: auto;
  }
}

.input {
  border-width: 0px !important;
  border-bottom-width: 1px !important;
  border-radius: 0px !important;
  padding-left: 0px !important;
  margin: 10px 0px !important;
}
